@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');

html{
   scroll-behavior:smooth;
}
body {
   margin:0;
   padding:0;

   font-family:"Noto Sans JP", sans-serif;  
   /*background-color: #ecf0f1;*/
   /*cor de fundo*/
   /* background-image: linear-gradient(to left,  rgb(228, 228, 245), #34448f); */
   background-image: url(https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?cs=srgb&dl=pexels-philippedonn-1169754.jpg&fm=jpg);
   background-size: cover;
   color: #333ba1;/*cor da letra*/

   
}

section {
   text-align: left;         /*centralizar o texto*/
   background-color: rgb(247, 244, 244); /* cor de fundo*/
   width: 510px;              /* largura */
   margin: auto;              /* centralizar conteúdo*/
   border: 1px solid gray;  /*colocar borda*/
   border-radius: 1;       /* arredondar bordas*/
   margin-bottom: 20px;       /* margem de baixo*/
   box-shadow: 2px 2px 10px rgb(182, 10, 250);    /*sombra*/ 
}

/* quando passo o mouse na sessão */
section:hover{
   background-color: rgb(212, 212, 212);
}
/*personalizar lista*/
ul{

   list-style: none;    /* tira ponto da lista*/
   text-align: left;    /*alinha a lista para a esquerda*/
}

/*referenciando a classe links do HTML*/
.links:hover {
   color: aqua;
   color: aqua;
   
}
.links:hover{
   color:aqua;
   color:aqua
}
.menu{
  background-color: rgb(161, 159, 159); 
  
}
.menu ul li{
  /*organizar em linha*/
  display:inline-block;
  /*espaçamento interno*/
  padding:10px
}

.menu ul li a {
   color:rgba(224, 0, 0, 0.671)
   text-decoration
  
}
  


.menu ul {
   text-align: center; 
   margin-top: 0; 
}

header {
   position:sticky;
   top:  0;
   z-index:5;

}

.links i {
   font-size:30px;
   color:rgb(128, 0, 233)

   
}

